#Problem1 {
    text-align: center;
}

#Problem2 {
    text-align: center;
}

#p1 {
    text-justify: auto;
    font-size: 150%;
}

#p2 {
    text-justify: auto;
    font-size: 150%;
}

#ejercicios_de_python {
    text-align: center;
    color: green;
}
p {
    text-align: center;
}